[Plex]
### [REQUIRED] Plex server details - Github for instructions on token ###
plex-host: http://localhost:32400
plex-token:

### [REQUIRED] Current library info - Change defaults to match your current librarys ###
# supports multiple libs, if separate by comma, no spaces
# e.g.: movie-library: Adult Movies,Kid Movies
# e.g.: tv-library: Adult TV,Kid TV
movie-library: Movies
tv-library: TV Shows

# Share playlist with other user?
# Choices True, False -- Caps matter, (if True, syncs all or list, if false, only token user)
shared: False

# (keep empty list for all users, comma list for specific users.)
# EX: ["username","anotheruser"] << notice the use of double-quotes
# $shared must be True.
users: []

# (keep empty list to allow all users, comma list for specific users to block.)
# EX ["greg","luiz"] << notice the use of double-quotes
# $shared must be True.
not_users: []

### [OPTIONAL] Plex server timeout setting .. default 300secs
# Uncomment and increase if you are experiencing timeout issues
# timeout: 300

### [OPTIONAL] Show the list of missing movies
# Set to True to see missing IMDB IDs from movie lists.  default is False
show_missing: False

### [OPTIONAL] logging level.  value possibilities: [-1, 0, 1, 2, 3].
# -1 = quiet, 0 = normal, 1 = verbose, 2 = very verbose, 3 = debug
verbose: 0

### [OPTIONAL] Missing list columns
# number of columns wide to show list.  default is 4
missing_columns: 4

[TMDb]
### [OPTIONAL] TMDb API Info ###
# This is REQUIRED for TMDb. If you have your libraries set to use TMDb Agent you will not be able to create any playlists.
api-key: 

[Trakt]
### [OPTIONAL] Trakt API Info ###
# This is REQUIRED for Trakt.  Without it you will not get any Trakt playlists
api-key:

### Trakt Lists
# has a title, type, limit & url
# type is only required for popular lists
# limit max is 100
# COMMA's matter.

# Currently 2 different kinds.  "playlist" and "collection"
# playlist is default if not supplied
# adding "kind":"collection" will tag all movies and shows with a collection tag.  A collection can go on movies or shows and will show together
# add "sort" to set collection order (only when kind is set to collection), it accepts the following values: 
# “release” (Order Collection by release dates), “alpha” (Order Collection alphabetically), and “custom” (Imported List Order)
# Default collection order is by imported list order ("Custom")
# add "visibility" to edit a collections visibility, options are:
# {'promotedToRecommended':True, 'promotedToOwnHome':True, 'promotedToSharedHome':True} which is the same as "visibility":"all"
# {'promotedToRecommended':False, 'promotedToOwnHome':True, 'promotedToSharedHome':False}

## Movie list
# the "type" must say 'popular' when using a popular trakt list.  Otherwise can be omiited or set to any value
# available lists
# 'period' in below urls must be replaced with any of these values (weekly , monthly , yearly , all)
# https://api.trakt.tv/movies/trending
# https://api.trakt.tv/movies/popular   MUST SET type TO popular
# https://api.trakt.tv/movies/recommended/period
# https://api.trakt.tv/movies/played/period
# https://api.trakt.tv/movies/watched/period
# https://api.trakt.tv/movies/collected/period
# https://api.trakt.tv/movies/anticipated
# https://api.trakt.tv/movies/boxoffice

trakt-movie-list: [
  { "title": "Movies Top Weekly", "type":"watched", "limit": 80, "url":"https://api.trakt.tv/movies/watched/weekly", "visibility":{"promotedToRecommended":true, "promotedToOwnHome":false, "promotedToSharedHome":false}},
  { "title": "Movies Popular", "type":"popular", "limit": 80, "url":"https://api.trakt.tv/movies/popular", "show_summary": "False", "sort":"release", "visibility":"all"}
  ]

## Show list
# the "type" must say 'popular' when using a popular trakt list.  Otherwise can be omiited or set to any value
# available lists
# 'period' in below urls must be replaced with any of these values (weekly , monthly , yearly , all)
# https://api.trakt.tv/shows/trending
# https://api.trakt.tv/shows/popular   MUST SET type TO popular
# https://api.trakt.tv/shows/recommended/period
# https://api.trakt.tv/shows/played/period
# https://api.trakt.tv/shows/watched/period
# https://api.trakt.tv/shows/collected/period
# https://api.trakt.tv/shows/anticipated

trakt-tv-list: [
  { "title": "Show Top Weekly", "type":"watched", "limit": 20, "url":"https://api.trakt.tv/shows/watched/weekly"},
  { "title": "Show Popular", "type":"popular", "limit": 20, "url":"https://api.trakt.tv/shows/popular", "kind":"collection", "show_summary": "False"}
  ]

## Users list
# The URL has an add '/items' at the end.  Please be aware of that when copying the url from the website
# Also when copying a url from web add the 'api' before trakt.tv

trakt-users-list: [
  { "title": "Show Top Weekly", "limit": 20, "url":"https://api.trakt.tv/users/donxy/lists/marvel-cinematic-universe/items"},
  ]


[IMDb]
# this is a LIST of all your fav IMDB lists
# types available are: ['chart', 'search', 'custom']
# put new list items on a new line
# each line needs a title, url and type
# if title is empty it will try and get the title from the imdb list
# CHECK YOUR COMMAs.  Need one after every line except last.  Will break

# Currently 2 different kinds.  "playlist" and "collection"
# playlist is default if not supplied
# adding "kind":"collection" will tag all movies and shows with a collection tag.  A collection can go on movies or shows and will show together
# add "sort" to set collection order (only when kind is set to collection), it accepts the following values: 
# “release” (Order Collection by release dates), “alpha” (Order Collection alphabetically), and “custom” (Imported List Order)
# Default collection order is by imported list order ("Custom")
# add "visibility" to edit a collections visibility, options are:
# {'promotedToRecommended':True, 'promotedToOwnHome':True, 'promotedToSharedHome':True} which is the same as "visibility":"all"
# {'promotedToRecommended':False, 'promotedToOwnHome':True, 'promotedToSharedHome':False}

### SEARCH TYPE
# type: "search"
# view MUST BE simple as a query param
# e.g.: &view=simple
# wrapped in double quotes,

### CHART TYPE
# used for links with 'chart' in the url

### CUSTOM TYPE
# used for links with 'list' in the url

imdb-lists: [
  { "title":"IMDB Top 250 Example", "type":"chart", "url":"https://www.imdb.com/chart/top", "kind":"collection" },
  { "title":"IMDB Custom Example", "type":"custom", "url":"https://www.imdb.com/list/ls069751712/", "show_summary": "False" },
  { "title":"IMDB Search Example", "type":"search", "url":"https://www.imdb.com/search/title?groups=oscar_best_picture_winners&sort=year,desc&view=simple&count=250" },

  { "title":"Latest Best Picture-Winning Titles", "type":"search", "url":"http://www.imdb.com/search/title?groups=oscar_best_picture_winners&sort=year,desc&view=simple" },
  { "title":"", "type":"search", "url":"http://www.imdb.com/search/title?year=2017,2017&title_type=feature&sort=moviemeter,asc&view=simple" },

  { "title":"Star Wars Machete Order", "type":"custom", "url":"http://www.imdb.com/list/ls069751712/" },
  { "title":"2018 Oscar Nominees", "type":"custom", "url":"http://www.imdb.com/list/ls009668531/" },
  { "title":"", "type":"custom", "url":"http://www.imdb.com/list/ls009668531/", "kind":"collection"},

  { "title":"Top Rated Movies", "type":"chart", "url":"http://www.imdb.com/chart/top"},
  { "title":"Most Popular Movies", "type":"chart", "url":"http://www.imdb.com/chart/moviemeter"},
  { "title":"Top Box Office", "type":"chart", "url":"http://www.imdb.com/chart/boxoffice"},
  { "title":"Top Rated English Movies", "type":"chart", "url":"http://www.imdb.com/chart/top-english-movies"},
  { "title":"", "type":"chart", "url":"http://www.imdb.com/chart/bottom"}

  ]


[Discord]
### Testing phase
# this will send a message for each movie/show summary finished to a channel
# by adding the url you will recieve messages
webhook_url:

[Radarr]
### Testing
# this will be used to auto add missing movies from lists
radarr_token:
add_movies: False
# [REQUIRED] Used to pick the profile when adding the movie
quality_profile:





  
